---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideBar from "../components/sidebar.astro";
import TeamCard from "../components/TeamCard.astro";

import teamJson from "../content/data/team.json"
---

<BaseLayout title="Team | Blithchron'24">
  <main class="flex">
    <SideBar
      page_title=" OUR TEAM"
      page_desc="We are awesome team always working to make Blithchron better"
    />
    <div class="flex-auto flex-col px-10 w-3/4 h-screen ms-60 mt-10">
      <div class="text-2xl font-semibold text-red-600 my-5 ml-10 bg-amber-200 text-center">
        <h1>Same Pictures are used for copyright issues.</h1>
      </div>
      <div class="text-4xl text-center font-semibold my-10">Our Team Members</div>

      <div class="grid grid-cols-2 gap-x-20 gap-y-20">
      {teamJson.map((team) => {
        return (
          <TeamCard img = {team.image} name = {team.name} position = {team.pos} phonenumber = {team.phone_no} email = {team.email}/>
        )
      })}
    </div>
    </div>
    
  </main>
</BaseLayout>
