---
const {img , name , position , phonenumber , email} = Astro.props;
---

<div class="flex justify-center items-center flex-col h-75 cursor-pointer hover:scale-105 transition ease">
    <div class="bg-white rounded-full h-100 w-50 overflow-hidden">
        <img src={img} alt="">
    </div>
    <div class="bg-black rounded-full h-25 w-60 -z-10 relative top-10"></div>

    <div class="bg-slate-400 rounded-full h-25 w-60 -z-20 relative top-5"></div>

    <div class="flex justify-center items-center flex-col h-25 relative top-8">
        <div class="text-lg font-semibold">{name}</div>
        <div class="font-medium">{position}</div>
        <div class="text-sm font-light">{phonenumber}</div>
        <div class="text-sm font-light">{email}</div>


    </div>
</div>